@import "tailwindcss";

:root {
    --heading-color: #FFFBD0;
    --main-text-color: #F8F8F8;
    --cta-color: #03ECF2;
    --background-color: #252222;
    /* --header-font: Lora Bold; */
    /* --body-font: Raleway Regular */
}

/* Add base styles here */
@layer base {
    html, body {
        height: 100%;
    }

    h1 {
        font-size: 1.5rem;
    }
}
