@import "tailwindcss";

:root {
    --heading-color: #FFFBD0;
    --main-text-color: #F8F8F8;
    --cta-color: #03ECF2;
    --background-color: #252222;
}

/* Add base styles here */
@layer base {
    html, body {
        height: 100%;
    }

    body {
        background-color: var(--background-color);
        color: var(--main-text-color);
        font-family: var(--font-raleway);
    }

    h1 {
        font-size: 1.5rem;
    }

    :is(h1, h2, h3, h4, h5, h6) {
        color: var(--heading-color);
    }
}
